.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal {
    background-color: rgb(205, 83, 205);
    padding: 25px;
    border-radius: 10px;
    max-width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.text {
    color: white;
    font-size: 24px;
    text-align: center;
}